<body>
    <div>
    <table>
      <thead>
        <th>Name</th>
        <th> Email</th>
        <th> Country</th>
        <th> Action </th>
      </thead>
      <!-- <tbody>
        <tr *ngFor="let m of mydata">

          <td> {{m.name}}</td>
          <td> {{m.email}}</td>
          <td> {{m.country}}</td>
          <td>
            <button (click)="getById(m._id)">Edit</button>
          </td> -->
          <!-- <td>
            <button (click)="delete(m._id)">Delete</button>
          </td>
        </tr>
      </tbody> -->
    </table>
  </div>
  <body>